<div id="mapid"></div>

<div class="col-xs-12 col-sm-2">
  <p style="padding:40px;"></p>
  <p><a class="btn btn-warning btn-block" data-toggle = "modal" data-target = "#searchModal">Search</a></p>
</div>

<div id="searchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color:black">Search</h4>
      </div>
      <div class="modal-body">


          <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
              <p style="padding:20px;"></p>
              <h3 align=center style="color: black">Search Foodtrucks</h3>
            </div>
            <div class="col-xs-12 col-sm-9">

            </div>
         </div>




      </div>
  </div>
  </div>
</div>
